
<div class="list-group">
  <% menus.forEach(function(menu){ %>
    <% if ( menu.url == current) { %>
      <a href="/<%- path %>/<%- menu.url %>.html"  class="list-group-item active">
        <%- menu.name %>
      </a>
    <% } else { %>
      <a href="/<%- path %>/<%- menu.url %>.html"  class="list-group-item">
        <%- menu.name %>
      </a>
    <% } %>
  <% }); %>
</div>